<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
<article>
    {{>header}}
    <a href="/info">Visit info</a>
    <a href="/weather">Visit weather</a>

</article>
</body>
{{>footer}}
</html>